
/* This is a partial blocks.css, you need to add more rules
   to this file to complete the assignment.  Do not add any CSS
   styling to the original index.htm / start.htm */

   body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* Here is one of many  CSS rules you will need... */
#one {
    border: 5px solid blue;
    width: 200px;
    margin: 10px;
    padding: 5px;
    font-family: 'Times New Roman', Arial, Helvetica, sans-serif, serif;
    font-size: 20px;
    text-align: left;
    position: relative;
    float: right;

}

#two {
    border: 5px solid green;
    width: 210px;
    margin: 10px;
    padding: 5px;
    font-family: 'Times New Roman', Arial, Helvetica, sans-serif, serif;
    font-size: 20px;
    text-align: left;
    position: relative;
    float: bottom;


};